@import "../variables/variables";
/*------------TABLET-----*/
@media screen and (min-width:768px) and (max-width:991px){
    body{

        div#nav-menu{  
            div#nav-logo{

            }
            div#nav-info{
                font-size: 2px;
            }
        }
        div#home-sec{
            padding: 20px;
            div#seleccionar-ruta{
                background-color: #fff;
                padding: 20px;
                display: inline-block;    
            }
        }
    
       
    }  
}