* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*outline: 1px solid purple;*/
}
@import "variables/variables";
@import "mixin/mixin";
body{
    /*background-image: url(../img/img-docs/background.jpg);
    background-size:cover;
    background-position: top center;
    background-repeat: no-repeat;    
    background-attachment:scroll; 
    height: 100vh; */
    /*background-color: red;*/
    
    div#nav-menu{  
        background-color: #fff;
        border-color: #fff;
        div#nav-logo{
            
        }
        div#nav-info{
            color: #FFC471;             
            cursor: pointer;
            #info{
                position: absolute;
                right: 0;
                background-color: $blanco;
                text-align: center;
                p{
                    color: #333;
                    font-size: 12px;
                    width: 200px;
                }
            }
        }
    }
    div#map{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -100;
    }
    div#home-sec{
        div#seleccionar-ruta{
            background-color: #fff;
            padding: 20px;
            display: inline-block; 
            select{
                border: solid 1px #FFC471;
            }            
        }
        p{
            button{
                margin-top: 10px;
                padding: 5px 54px;
                background: $segundo-color;
                color: $blanco;
                border-style: none;
            }    
        }
    }
    section#calculator *{
        outline: 1px solid purple;    
    }
    section#calculator{ 
        div#vehiculo{
            background-color: $blanco;
            display: inline-block;
            padding: 20px;
            h4{
                margin: 0;
            }
            span{
                padding-bottom: 10px;
            }
            table{
                display: inline;
                tr{
                    td{
                        padding: 5px 10px;
                        text-align: left;
                    }                    
                }
                #precio{
                    color: $segundo-color;
                }
            }
            p{
                padding-top: 20px;
                input{
                    border: solid 1px $segundo-color;
                }
            }
        }
        p{
            button{
                margin-top: 10px;
                padding: 5px 120px;
                background: $segundo-color;
                color: $blanco;
                border-style: none;
            }    
        }
        
    }
    #footer{
  
    }   
}